li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.pokecard {
  border: 2px solid grey;
  height: 20vh;
  width: 10vw;
  margin: 10px;
  border-radius: 25px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  display: flex;
  align-content: center;
  font-size: 10px;
}

.pokecard:hover {
  transform: scale(1.05);
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.searchinput {
  width: 25vw;
  height: 5vh;
  border: 2px solid black;
  border-radius: 25px;
  font-size: larger;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 100vw;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding: 0;
  justify-content: center;
}

.pokeimage {
  height: 70px;
  width: 70px;
}

.loadingscreen {
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 90vh;
  display: flex;
}

.favourite {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: right;
  transform: scale(2.5);
  padding: 5px;
  margin-top: 3px;
}
