.indiv-pokecard {
  display: flex;
  width: 25vw;
  height: 60vh;
  /* margin-left: 25vw;
  margin-right: 25vw; */
  margin: auto;
  margin-top: 3rem;
  flex-direction: column;
  border: 2px solid tomato;
  border-radius: 25px;
}

.indiv-pic {
  height: 100px;
  width: 100px;
  align-self: center;
}

.image-div {
    border: 1px solid tomato;
}
/* .pokemon-name {
} */
