.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.logo {
  position: absolute;
  margin-top: 3rem;
  left: -40%;
}
.navbar-left {
  width: 33vw;
  transform: scale(0.4);
  display: flex;
  justify-content: left;
}

.navbar-mid {
  width: 33vw;
  transform: scale(1.2);
  display: flex;
  justify-content: center;
  margin: auto;
}

.navbar-right {
  width: 32vw;
  transform: scale(0.6);
  display: flex;
  justify-content: center;
  justify-content: flex-end;
}

.pokeheart {
  display: flex;
  margin-top: -0.4rem;
}

@media screen and (max-width: 480px) {
  .toggle-nav {
    display: none;
  }
}
