.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.navbar-left {
  width: 33vw;
  transform: scale(0.5);
  display: flex;
}

.navbar-mid {
  width: 33vw;
}

.navbar-right {
  width: 33vw;
  transform: scale(0.5);
  display: flex;
}
