.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-left {
  width: 33vw;
  transform: scale(0.5);
  display: flex;
  float: left;
}

.navbar-mid {
  width: 33vw;
}

.navbar-right {
  width: 33vw;
  text-align: right;
  padding-right: 3rem;
}
