.toggle {
  display: flex;
  justify-content: space-between;
  border: 3px solid tomato;
  border-radius: 15px;
  position: relative;
  padding: 2px;
}

.toggle:hover {
  cursor: pointer;
}

.toggle > * {
  width: 1rem;
  height: 1rem;
  color: tomato;
}

.toggle-button {
  border-radius: 100%;
  background: tomato;
  position: absolute;
}
